@charset "utf-8";

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    font-family: 'KyoboHand';
}
.fp-controlArrow {
    width: 120px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: white;
}

#fullpage {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
}
#fullpage .section {
    width: 100%;
    height: 100vh;
}
#fullpage .section .main {
    width: 100%;
    height: 100vh;
    position: relative;
}
#fullpage .section .main .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
header .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h2 {
    font-size: 60px;
}
header .inner .menu ul li {
    font-size: 24px;
    display: inline-block;
    margin-left: 40px;
}
#fullpage .section .main .img {
    position: absolute;
    bottom: 0;
    left: 380px;
}
#fullpage .section .main .bottom {
    width: 100%;
    height: 80px;
    background-color: #c2c4b6;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#fullpage .section .main .bottom p {
    font-size: 36px;
    text-align: center;
    line-height: 80px;
    color: #333;
}
#fullpage .section .report {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f7f0c6;
    position: absolute;
    top: 480px;
    left: 240px;
}
#fullpage .section .report a {
    width: 100%;
    height: 100%;
    font-size: 24px;
    text-align: center;
    line-height: 120px;
    display: block;
}

/* .profile */
#fullpage .section .profile {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #dadada;
}
#fullpage .section .profile .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#fullpage .section .profile .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#fullpage .section .profile .inner h2 {
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    color: white;
}
#fullpage .section .profile .inner .box {
    width: 100%;
    height: calc(100vh - 240px);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#fullpage .section .profile .inner .box .box_1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section .profile .inner .box .box_1 .img {
    width: 320px;
    height: 320px;
    border: 20px solid #dadada;
    border-radius: 10px;
}
#fullpage .section .profile .inner .box .box_1 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#fullpage .section .profile .inner .box .box_1 .txt {
    margin-top: 20px;
    text-align: center;
}
#fullpage .section .profile .inner .box .box_1 .txt h3 {
    font-size: 40px;
}
#fullpage .section .profile .inner .box .box_1 .txt p {
    font-size: 24px;
    margin-top: 5px;
}
#fullpage .section .profile .inner .box .box_2 {
    width: 50%;
}
#fullpage .section .profile .inner .box .box_2 .edu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section .profile .inner .box .box_2 .edu h3 {
    font-size: 40px;
}
#fullpage .section .profile .inner .box .box_2 .edu p {
    font-size: 24px;
    margin-top: 5px;
}
#fullpage .section .profile .inner .box .box_2 .skill {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section .profile .inner .box .box_2 .skill h3 {
    font-size: 40px;
}
#fullpage .section .profile .inner .box .box_2 .skill .img {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
#fullpage .section .profile .inner .box .box_2 .skill .img img {
    margin-right: 10px;
}
#fullpage .section .profile .inner .box .box_2 .skill .img img:last-child {
    margin-right: 0;
}


/* .web */
#fullpage .section .slide {
    width: 100%;
    height: 100vh;
    background-color: #dadada;
}
#fullpage .section .slide .inner {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#fullpage .section #slide1 {
    position: relative;
}
#fullpage .section #slide1 .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#fullpage .section #slide1 .inner h1 {
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    color: white;
}
#fullpage .section #slide1 .inner .cube {
    width: 100%;
    height: calc(100vh - 240px);
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#fullpage .section #slide1 .inner .cube .img {
    width: 800px;
    height: 75%;
    display: flex;
    justify-content: center;
}
#fullpage .section #slide1 .inner .cube .img img {
    height: 100%;
    object-fit: cover;
}
#fullpage .section #slide1 .inner .cube .txt {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section #slide1 .inner .cube .txt h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
#fullpage .section #slide1 .inner .cube .txt a {
    width: 160px;
    height: 40px;
    display: block;
    border-radius: 10px;
    background-color: #3485c3;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
#fullpage .section #slide1 .inner .cube .txt p {
    font-size: 20px;
    text-align: center;   
}

/* ssg */
#fullpage .section #slide2 {
    position: relative;
}
#fullpage .section #slide2 .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#fullpage .section #slide2 .inner h1 {
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    color: white;
}
#fullpage .section #slide2 .inner .ssg {
    width: 100%;
    height: calc(100vh - 240px);
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#fullpage .section #slide2 .inner .ssg .img {
    width: 800px;
    height: 75%;
    display: flex;
    justify-content: center;
}
#fullpage .section #slide2 .inner .ssg .img img {
    height: 100%;
    object-fit: cover;
}
#fullpage .section #slide2 .inner .ssg .txt {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section #slide2 .inner .ssg .txt h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
#fullpage .section #slide2 .inner .ssg .txt a {
    width: 160px;
    height: 40px;
    display: block;
    border-radius: 10px;
    background-color: #d11e35;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
#fullpage .section #slide2 .inner .ssg .txt p {
    font-size: 20px;
    text-align: center;
}

/* cubee */
#fullpage .section #slide3 {
    position: relative;
}
#fullpage .section #slide3 .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#fullpage .section #slide3 .inner h1 {
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    color: white;
}
#fullpage .section #slide3 .inner .cubee {
    width: 100%;
    height: calc(100vh - 240px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fullpage .section #slide3 .inner .cubee .box_1 {
    width: 800px;
    height: 75%;
}
#fullpage .section #slide3 .inner .cubee .box_1 .img {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#fullpage .section #slide3 .inner .cubee .box_1 .img img {
    height: 100%;
    object-fit: cover;
}
#fullpage .section #slide3 .inner .cubee .box_1 .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section #slide3 .inner .cubee .box_1 .txt h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}
#fullpage .section #slide3 .inner .cubee .box_1 .txt .a {
    width: 100%;
    display: flex;
    justify-content: center;
}
#fullpage .section #slide3 .inner .cubee .box_1 .txt a {
    width: 120px;
    height: 40px;
    display: block;
    border-radius: 10px;
    background-color: #3485c3;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#fullpage .section #slide3 .inner .cubee .box_1 .txt a:nth-child(2) {
    margin-right: 0;
}
#fullpage .section #slide3 .inner .cubee .box_1 .txt P {
    font-size: 20px;
}
#fullpage .section #slide3 .inner .cubee .box_2 {
    width: 400px;
    height: 75%;
}
#fullpage .section #slide3 .inner .cubee .box_2 .img {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#fullpage .section #slide3 .inner .cubee .box_2 .img img {
    height: 100%;
    object-fit: cover;
}
#fullpage .section #slide3 .inner .cubee .box_2 .txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section #slide3 .inner .cubee .box_2 .txt h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
}
#fullpage .section #slide3 .inner .cubee .box_2 .txt .a {
    width: 100%;
    display: flex;
    justify-content: center;
}
#fullpage .section #slide3 .inner .cubee .box_2 .txt a {
    width: 120px;
    height: 40px;
    display: block;
    border-radius: 10px;
    background-color: #3485c3;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#fullpage .section #slide3 .inner .cubee .box_2 .txt a:nth-child(2) {
    margin-right: 0;
}
#fullpage .section #slide3 .inner .cubee .box_2 .txt p {
    font-size: 20px;
}

/* bspolice */
#fullpage .section #slide4 {
    position: relative;
}
#fullpage .section #slide4 .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#fullpage .section #slide4 .inner h1 {
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    color: white;
}
#fullpage .section #slide4 .inner .bspolice {
    width: 100%;
    height: calc(100vh - 240px);
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#fullpage .section #slide4 .inner .bspolice .img {
    width: 800px;
    height: 75%;
    display: flex;
    justify-content: center;
}
#fullpage .section #slide4 .inner .bspolice .img img {
    height: 100%;
    object-fit: cover;
}
#fullpage .section #slide4 .inner .bspolice .txt {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fullpage .section #slide4 .inner .bspolice .txt h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
#fullpage .section #slide4 .inner .bspolice .txt a {
    width: 160px;
    height: 40px;
    display: block;
    border-radius: 10px;
    background-color: #0054a6;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
#fullpage .section #slide4 .inner .bspolice .txt p {
    font-size: 20px;
    text-align: center;   
}


/* design */
#fullpage .section .design {
    width: 100%;
    height: 100vh;
    position: relative;
}
#fullpage .section .design .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
#fullpage .section .design .inner {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#fullpage .section .design .inner h2 {
    font-size: 70px;
    text-align: center;
    line-height: 140px;
    color: white;
}
#fullpage .section .design .inner .imglist {
    display: flex;
    flex-wrap: wrap;
}
#fullpage .section .design .inner .imglist a {
    margin-right: 40px;
    margin-bottom: 40px;
    position: relative;
}
#fullpage .section .design .inner .imglist .ps::after {
    content: 'Ps';
    width: 60px;
    height: 28px;
    background-color: #092347;
    color: #56ebfc;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 28px;
    font-size: 24px;
}
#fullpage .section .design .inner .imglist .ai::after {
    content: 'Ai';
    width: 60px;
    height: 28px;
    background-color: #1c0802;
    color: #ff5b24;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 28px;
    font-size: 24px;
}
#fullpage .section .design .inner .imglist a:nth-child(4) {
    margin-right: 0;
}
#fullpage .section .design .inner .imglist a:nth-child(8) {
    margin-right: 0;
}
#fullpage .section .design .inner .imglist a img {
    width: 330px;
    height: 330px;
    object-fit: cover;
}

/* footer */
#fullpage #section4 {
    max-width: 1920px;
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
}
#fullpage #section4 .inner {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
}
#fullpage #section4 .inner a {
    width: 100px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin: 15px auto;
    text-align: center;
    background-color: white;
    color: #333;
    display: block;
}
#fullpage #section4 .inner p {
    text-align: center;
}

#fp-nav ul li:nth-child(5) {
    display: none;
}
